.winner {
    color: green;
}

.loser {
    color: red;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    width: fit-content;
    background-color: #c9c9c9;
    margin: 100px auto auto auto;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: 5px 8px 8px 5px #5a5a5a;
}

img {
    border-bottom: 2px solid black;
    border-radius: 5px;
    width: 384px;
}

h1{
    color: black;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bolder;
}

.displayScores h2{
    margin: 0;
    font-size: 30px;
}

.buttons {
    display: flex;
}

button {
    width: 8rem;
    height: 2rem;
    font-weight: bolder;
}

button:first-child {
    border-radius: 0 0 0 5px;
}

button:nth-child(3) {
    border-radius: 0 0 5px 0;
}

#p1Button {
    background-color: rgb(0, 141, 110);
    border: none;
    color: white;
    text-align: center;
    text-decoration: solid;
    cursor: pointer;
}

#p2Button {
    background-color: rgb(26, 142, 237);
    border: none;
    color: white;
    text-align: center;
    text-decoration: solid;
    cursor: pointer;
}

#reset {
    background-color: rgb(241, 0, 0);
    border: none;
    color: white;
    text-align: center;
    text-decoration: solid;
    cursor: pointer;
}

.options {
    margin: 5px;
}